<?php

/**
 * Class dbInfo
 * Holds the database connection info to abstract it away from programming
 */
class dbInfo
{
    public static $dbUser = 'user';
    public static $dbPass = 'pass';
    public static $db = "database";

}
?>